<div class="row text-center" >
    <div class="col-xs-6 col-sm-8 col-md-10">
        <div class=impact>{{form.title}}</div>
    </div>

    <div class="col-xs-3 col-sm-2 col-md-1" data-ng-show="showTable()">
        <div class="form-group">
            <button title="Menu" data-ng-model="button" class="btn btn-success" style="float:right" data-ng-hide="Submit" class="form-control" data-ng-click="onMenu()">Menu</button>
        </div>
    </div>

    <div class="col-xs-3 col-sm-2 col-md-1" data-ng-show="showTable()">
        <div class="form-group">
            <button title="LogOut" data-ng-model="button" class="btn btn-danger" style="float:right" data-ng-hide="Submit" class="form-control" data-ng-click="onLogOut()">LogOut</button>

        </div>
    </div>


</div>
               
<hr style="height:3px;border:none;color:#333;background-color:#333;" />

