<div class="row" div data-ng-hide="showTable()">
    <div class="col-md-12 col-lg-12">
     
        <button title="Remove Row" style="padding:3px; background-color:rgba(255,255,255,0.0); float: right; border:none;" data-ng-click="onDelRow('xxxx')" data-ng-hide="disableControl()"><img src="myLib/icons/delRow.gif" /></button>
        <button title="Add Row" style="padding:3px; background-color:rgba(255,255,255,0.0); float: right; border:none;" data-ng-click="onAddRow('routes')" data-ng-hide="disableControl()"><img src="myLib/icons/insRow.gif" /></button>
        <br />
        <br />
        <div data-ui-grid="form.subTable.xxxx" data-ui-grid-selection data-ui-grid-edit data-ui-grid-row-edit data-ui-grid-cellnav class="xxxxGrid">


        </div>

    </div>
</div>

